{% extends 'base.html' %}

{% block content %}
  <form>
    <select 
      id="select-device" 
      name="device" 
      autocomplete="off" 
      hx-get="{% url 'dashboard' %}"
      hx-target="#temperature-chart"
    >
      {% for d in devices %}
        <option value="{{d.device_id}}" {% if device == d %} selected {% endif %}>{{ d }}</option>
      {% endfor %}
    </select>
  </form>
  
  <div id="temperature-chart">
    {% include 'partials/sensor-readings-plot.html' %}
  </div>
{% endblock %}
