{% extends 'base.html' %}

{% block content %}
  <h1>Sensor Dashboard</h1>
  <div class="grid grid-cols-2 gap-6">
    <div 
      hx-get="{% url 'pressure_chart' %}" 
      hx-trigger="load" 
      hx-swap="innerHTML">
      Loading Pressure…
    </div>

    <div 
      hx-get="{% url 'temperature_chart' %}" 
      hx-trigger="load" 
      hx-swap="innerHTML">
      Loading Temperature…
    </div>

    <div 
      hx-get="{% url 'humidity_chart' %}" 
      hx-trigger="load" 
      hx-swap="innerHTML">
      Loading Humidity…
    </div>

    <div 
      hx-get="{% url 'pm25_chart' %}" 
      hx-trigger="load" 
      hx-swap="innerHTML">
      Loading PM2.5…
    </div>

    <div 
      hx-get="{% url 'pm10_chart' %}" 
      hx-trigger="load" 
      hx-swap="innerHTML">
      Loading PM10…
    </div>
  </div>
{% endblock %}
