<canvas id="{{ chart_id }}" width="400" height="200"></canvas>
<script>
  (function(){
    var ctx = document.getElementById("{{ chart_id }}").getContext('2d');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: '{{ chart_label }}',
          data: {{ values|safe }},
          fill: false,
          tension: 0.1
        }]
      },
      options: {
        scales: {
          x: { display: true, title: { display: true, text: 'Time' } }
        },
        responsive: true,
        maintainAspectRatio: false
      }
    });
  })();
</script>
